
<div class="p-3">
    <div class="_flex_center _icon_tray">
        <div class="left_options">
          <div class="_flex_center">
            <form>
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Enter Parent Company" aria-label="Number" matInput [formControl]="search_companies" [matAutocomplete]="auto">
                  <mat-autocomplete  (optionSelected)='setValue()' autoActiveFirstOption #auto="matAutocomplete" >
                    <mat-option *ngFor="let option of filteredCompany | async" [value]="option.companyname">
                      {{option.companyname}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
          </div>
        </div>
         
        <div class="right_option">
                <button mat-button class="mr-2 positive" (click)='merge()' *ngIf='companiesToMerge.length > 0'>
                 Merge
                </button>
            
              </div>
          
         
          
        </div>
        <div class="row">

            <div class="col-12 text-center" *ngIf='comapniesFormerge.length === 0'>
   <img src="../../../assets/warning.png"   class="mb-3">
   <h4>Please select a parent company</h4>

            </div>
                <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 col-xs-12 h500px" *ngIf='comapniesFormerge.length > 0'>
                     
                    <table class="mat-elevation-z8 " mat-table matSort [dataSource]='comapniesFormerge'>
                            <ng-container matColumnDef="company">
                              <th mat-header-cell *matHeaderCellDef class="text-center"><h4>Comapnies</h4>  </th>
                              <td mat-cell *matCellDef="let element"> 
                                    <mat-checkbox (change)='selectTomerge($event, element)' [checked]='element["checked"]' [(ngModel)] ='element["checked"]'>
                                          {{element.companyname}}
                                    </mat-checkbox>
                               
                              </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="comapnyColoumn;"></tr>
                                  <tr mat-row *matRowDef="let row; columns: comapnyColoumn;"></tr>
                                </table>
                            </div>
                            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6 col-xs-12 h500px" *ngIf='companiesToMerge.length > 0'>
                                    <table class="mat-elevation-z8 " mat-table matSort [dataSource]='companiesToMerge' >
                                            <ng-container matColumnDef="company">
                                              <th mat-header-cell *matHeaderCellDef class="text-center"><h4>Selected companies to merge</h4>  </th>
                                              <td mat-cell *matCellDef="let element; let i = index"> 
                                                   <div class="_flex_center">
                                                        <mat-icon class="mr-2 pointer" (click)='removeCompany(element , i)'>close</mat-icon>
                                                        {{element.companyname}}

                                                   </div>
                                                       
                                                    
                                                         
                                                    
                                               
                                              </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="comapnyColoumn;"></tr>
                                                  <tr mat-row *matRowDef="let row; columns: comapnyColoumn;"></tr>
                                                </table>
                            </div>
        </div>
       
</div>
